<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thomas.swisher" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.SwisherService" />

    </application>



    <!-- for youtube player -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- for reading local music -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- to start the service at boot (only really useful for web interface or serial card reader) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <receiver android:name="thomas.swisher.service.BootCompletedIntentReceiver" android:enabled="true" android:exported="false">
        <intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"/></intent-filter>
    </receiver>

</manifest>